<div class="main-container">
    <mat-card class="login-card">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. yourname@email.com" type="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. 123456@" type="email" required>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Login</button>
        <div class="buttom-text">
            I don't have an account <a [routerLink]="'../signup'">Signup</a>
        </div>
    </mat-card>
</div>